@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    body {
        background-color: rgb(218, 108, 108);
        background-image: url('images/bg-intro-desktop.png');
    }
    .container {
        width: 100%;
    }
    .left {
        float: left;
        width: 50%;
        text-align: left;
        height: 100fr;
    }
    .right {
        float: left;
        width: 50%;
    }
    h1 {
        width: 60%;
        margin: 40% auto 0 25%;
    }
    p {
        width: 60%;
        margin-left: 25%;
    }
    .form-content {
        margin-top: 15%;
    }
}

@media screen and (max-width: 768px) {
    .left {
        text-align: center;
    }
    .form-content {
        margin: auto;
    }
}

body {
    background-color: rgb(218, 108, 108);
    background-image: url('images/bg-intro-mobile.png');
}

.left {
    color: white;
}

.right {
    text-align: center;
}

.form-content {
    max-width: 500px;
    text-align: center;
    color: gray;
}

form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 10px 0px 0px rgba(0, 0, 0, 0.3);
    padding: 1.5em;
    margin-top: 20px;
}

.form-group {
    margin-top: 1.5em;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

.form-control {
    padding: 1.5em 1em;
    border: 1px solid rgba(37, 36, 36, 0.739);
    border-radius: .5em;
    height: 1.5em;
    width: 100%;
    font-size: 16px;
}

input:focus {
    outline: none !important;
    border: 1.5px solid hsl(293, 94%, 12%);
}

input::placeholder {
    font-size: 16px;
    font-weight: 700;
}

.btn {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border: 0 solid;
    height: 3em;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 1px 5px 0px 0px rgba(0, 0, 0, 0.3);
}

.btn-before {
    padding: 30px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 100px;
    background-color: hsl(248, 32%, 49%);
}

.btn-submit {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    cursor: pointer;
    box-shadow: 1px 4px 0px 0px rgba(0, 0, 0, 0.3) !important;
    text-transform: uppercase;
}

.text-link {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}

.icon_error,
.note {
    display: none;
    float: right;
    color: hsl(0, 100%, 74%);
}

.icon_error {
    position: relative;
    top: -35px;
    right: 15px;
}

.note {
    position: relative;
    top: 2px;
    right: -15px;
}

.small {
    margin-top: 1em;
}